pandas
openpyxl
pygwalker
pyarrow
scikit-learn
scipy
xlrd
ruff
boltons
sh
validators
thefuzz
stackprinter
icecream
freezegun
dirty-equals
pyperclip
tqdm # progress bar for cli applications
nbdime # diffing jupyter notebooks
pip-review
tinygrad
xeus-python
pytest
cloudpickle
matplotlib
pydantic
typeguard
pymc
pylint
flake8
datasets
transformers
onnx
cloudpickle
extra.utils
fuzzywuzzy
python-Levenshtein
tabulate
tinygrad
jupyter
plotly-express
networkx
xlsxwriter
openpyxl
scikit-learn
xlrd
seaborn
tensorflow
torch
tiktoken
pillow
librosa
hypothesis
sentencepiece
pydot
uv
polars
pymc
rasterio
earthpy

